<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <!--<div class="col-12">
        Sign up for the {{company}} newsletter for exclusive deals, new product releases, contests, and much more.
    </div>-->

    <div class="row">
        <div class="col-12">
            <center>
                <small class="d-block text-muted">&copy; 2020 {{company}}</small>
            </center>
        </div>
    </div>
</footer>

<script async src="js/site.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ga}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ga}}');
</script>
</body>

</html>