<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/">{{company}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <a class="p-2 text-dark" href="/">Home</a>
            <a class="p-2 text-dark" href="/">Shop</a>
            <a class="p-2 text-dark" href="/shipping">Shipping Info</a>
            <a class="p-2 text-dark" href="/faq">FAQ</a>
            <a class="p-2 text-dark" href="/about">About Us</a>
        </ul>
        <i class="fas fa-shopping-bag"></i>

        <!--<form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </div>
</nav>