<div class="row">
    <div class="col-sm-12">
        <h3 class="featurette-heading  my-5">About This Coffee</h3>
        {{> @partial-block }}
        <hr class="featurette-divider">
        <h3 class="featurette-heading  my-5">📦 Shipping Info</h3>
        {{> shippingDetails}} <a href="/shipping" class="float-right">click here more information</a>
    </div>
</div>