<div class="container">
    <center>
        <h1 class="featurette-heading my-5">Our Mission</h1>
        <p class="lead">
            To provide the best coffee beans at the customer's door as fast as possible.
        </p>
    </center>
    <hr class="featurette-divider">
    <center>
        <h2 class="featurette-heading my-4">About Us</h2>
    </center>

    <p class="lead">At {{company}}, We aim to offer our customers a variety of the latest coffee beans. We’ve come a
        long way, so we know exactly which direction to take when supplying you with high quality yet budget-friendly
        coffee beans. We offer all of this
        while providing excellent customer service and friendly support.</p>

    <p class="lead">We always keep an eye on the latest trends in coffee products and put our customers' wishes first.
        That is why we
        have satisfied customers all over the world, and are thrilled to be a part of the coffee product industry.</p>

    <p class="lead">The interests of our customers are always top priority for us, so we hope you will enjoy our
        products as much as
        we enjoy making them available to you.</p>
</div>