<div class="container">
    {{> productTopFeature 
    productName="Ethiopian" 
    productSubName="Single Origin"
    productImage="https://images.unsplash.com/photo-1527964275784-5ce8ddab3d8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
    productDetails="Coffee from Ethiopia is known for its bright fruited and floral flavors. These coffees typically have a higher acidity, light to medium body and complex flavor notes."
    productPrice=26.99
    productPriceDiscount=18.99
    productId="prod_GerNH98qb559oc"}}
    {{#> productAboutFeature }}
    <p class="lead">Ethiopia is the original home of coffee. Coffee trees have grown in the wild here for centuries. The
        environment is perfect to produce amazing coffee, without adding anything to it. More than a thousand different
        varietals of coffee grow in Ethiopia. High elevations in the southern mountainous region make for excellent
        growing conditions.</p>

    <p class="lead">
        Coffee from Ethiopia is known for its bright fruited and floral flavors. These coffees typically have a higher
        acidity, light to medium body and complex flavor notes. These beans are infused more heavily with fruited notes,
        such as blueberry, and contain deep chocolate undertones with a syrupy body.
    </p>

    <img src="https://images.unsplash.com/photo-1505924804091-3425104e4947?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80"
        class="img-fluid rounded " alt="Responsive image">

    <hr class="featurette-divider">
    <h3 class="featurette-heading my-5">Brewing This Coffee</h3>
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h5 class="featurette-heading">Pour Over
                </h5>
                <p class="lead"> For best results, you should try brewing it as a pour over coffee. This allows
                    for more control in the brewing process and slows down the brew enough to pull out the best flavors
                    of the coffee.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto rounded" width="500"
                    src="https://images.unsplash.com/photo-1573518378653-55e125da29e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1127&q=80" />
                </svg>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h5 class="featurette-heading">Automatic Drip
                </h5>
                <p class="lead">Since coffees from this region tend to be light in body and brighter in acidity, it does
                    best as filter coffee. Using an automatic dripper will produce a great cup, so long as the coffee is
                    roasted and ground fresh. The paper filter will give a lot of clarity to the flavors of the coffee,
                    giving it the perfect amount of acidity and body.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto rounded" width="500"
                    src="https://images.unsplash.com/photo-1515442261605-65987783cb6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h5 class="featurette-heading">Cold Brew
                </h5>
                <p class="lead"> Due to their fruited and floral notes, Ethiopian beans also make for a wonderful,
                    refreshing cold brew or iced coffee. Smooth with notes of blueberry or peach? Yes, please. Make sure
                    to grind coarsely for cold brew, so as to not over-extract the coffee’s acidity.

                    You can also brew Ethiopian as an iced pour over, if you like your cold coffee with a little more
                    zing to it. Because you are brewing the coffee hot over ice, it will preserve more of the acidity.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto rounded" width="500"
                    src="https://images.unsplash.com/photo-1572569080463-58088e2892bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=768&q=80" />
                </svg>
            </div>
        </div>
    </div>



    {{/productAboutFeature}}
</div>