<!-- Page Content -->
<div class="container">
    {{> productTopFeature 
    productName="Guatemala" 
    productSubName="Single Origin"
    productImage="https://images.unsplash.com/photo-1459755486867-b55449bb39ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80"
    productDetails="These coffee beans have tasting notes indicating a full body and a rich chocolatey-cocoa flavor, and a toffee-like sweetness. Guatemalan coffees are true central American coffees."
    productPrice=26.99
    productPriceDiscount=19.99
    productId="123456"}}
    {{#> productAboutFeature }}

    <p class="lead">Coffee from Guatemala can be the perfect balance of full bodied, strong and sweet with a
        gentle
        acidity and complex flavor notes.</p>

    <p class="lead">It can appeal to a wide range of people and there is sure to be a coffee from this country
        with your
        name on it. Many people have also noted a smoky element to the beans, as well. Guatemalan beans
        grown at
        higher elevations, such as those at Huehuetenango, will have brighter flavor notes ranging from
        berries
        to green apple to citrus.</p>

    <img src="https://images.unsplash.com/photo-1525453878038-5d5a7d19bdd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80"
        class="img-fluid rounded " alt="Responsive image">

    <hr class="featurette-divider">
    <h3 class="featurette-heading my-5">Brewing This Coffee</h3>
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h5 class="featurette-heading">Pour Over
                </h5>
                <p class="lead"> To highlight the acidity and the flavor notes of the coffee, brewing via pour over is
                    going to produce great results. With a lighter roasted coffee, a pour over
                    will likely produce the best results. The paper filter helps to produce a clean cup with
                    clear, bright flavor notes. This is ideal for those who want to taste the subtle fruit and
                    floral notes of their Guatemalan beans.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto rounded" width="500"
                    src="https://images.unsplash.com/photo-1573518378653-55e125da29e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1127&q=80" />
                </svg>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h5 class="featurette-heading">French Press
                </h5>
                <p class="lead"> For those who prefer a darker roasted coffee, or who simply want to highlight
                    the body and the
                    natural
                    sweetness, a French press will be ideal.

                    This full immersion brew method allows the coffee to stay in contact with the water for much
                    longer,
                    which extracts more of the sweetness and ensures a full, heavy body in the final cup. Be
                    careful not
                    to
                    brew the coffee too long or you will have a bitter, over extracted coffee. </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto rounded" width="500"
                    src="https://images.unsplash.com/photo-1534177566139-01a4cd4c7574?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h5 class="featurette-heading">Cold Brew
                </h5>
                <p class="lead"> The combination of full body, heavy sweetness and medium acidity present in
                    most
                    beans from
                    Guatemala
                    would also make for excellent cold brew. The long steep time helps to really extract the
                    sweetness
                    and
                    the body, making for a strong and refreshing cup of coffee.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto rounded" width="500"
                    src="https://images.unsplash.com/photo-1572569080463-58088e2892bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=768&q=80" />
                </svg>
            </div>
        </div>
    </div>
    {{/productAboutFeature}}
</div>