<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Punny headline</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with
            this example based on Apple’s marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container marketing">

    <center>
        <h1>How It Works</h1>
    </center>
    <br />

    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="images/hand-picked-coffee-beans.jpg" alt='Hand picked coffee beans' />
            <h3>Handpicked Coffee Beans</h3>
            <p>Coffee beans are handpicked when perfectly ripe.</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="images/packaged-coffee.jpg" alt='Coffee beans being packaged' />
            <h3>Roasted To Order</h3>
            <p>We wait until an order comes to start roasting. This ensures the freshness of the coffee beans.</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="images/coffee-box-delivered.jpg" alt='Deliver to your door' />
            <h3>Shipped</h3>
            <p>We ship as soon as the coffee beans are done roasting and packaged immediately. Why? We are obsessed with
                the best tasting coffee!</p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Sign Up</a>
        </div>
    </div>

    <hr class="featurette-divider">


    <!-- START THE FEATURETTES -->

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Coffee obsessed <span class="text-muted">You will be too!</span></h2>
            <p class="lead">Our coffee beans are hand picked from organic &amp; premium farms. Coffee tasters find the
                rich blends and quality that everyone can fall in love with. We roast, package, and ship it to your
                doorstep. Your coffee gets the care and attention it needs to taste its best. </p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Check out our feature blend</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" width="500" src="/images/coffee-bags.jpg" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span>
            </h2>
            <p class="lead">We exist out of the necessity of having a fresh cup of coffee at home for a great price. We
                can't always go to the local coffee shop every time so we built a service to get coffee beans quickly.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" width="500" src="/images/coffee-bags.jpg" />
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->