<div class="jumbotron jumbotron-fluid jumbotron-beans">
    <div class="container text-center">
        </br/>
        <h1 class="display-4" style="font-weight: bold;">Craft Coffee Anywhere!</h1>
        </br/>
        <a href="/shop" class="btn btn-primary btn-lg">let's get started</a>
        </br/>
    </div>
</div>

<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading my-4">From 🌱 <span class="text-muted">to coffee ☕</span></h2>
            <p class="lead">Our coffee beans are hand picked from organic &amp; premium farms. Our coffee tasters find
                the
                rich blends and quality that everyone can fall in love with. We roast, package, and ship it to your
                doorstep. Your coffee gets the care and attention it needs to taste its best. </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded" width="500"
                src="https://images.unsplash.com/photo-1472495010058-65576a9959e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading  my-4">Coffee obsessed <span class="text-muted">You will be too!</span></h2>
            </h2>
            <p class="lead">
                Unlike the grocery store, you'll always know exactly when we have roasted your coffee beans, and
                you'll receive it just days after we roast it.  We show you how to brew it like the professional you are!
            </p>
            <ul class="lead">
                <li><a href="/ethiopian">Bright fruited and floral flavors</a></li>
                <li><a href="/guatemala">Chocolatey-cocoa flavor, and a toffee-like sweetness.</a></li>
            </ul>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto rounded" width="500"
                src="https://images.unsplash.com/photo-1561395049-69684aacf8de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading my-4">How every morning <span class="text-muted"> is good</span></h2>
            <p class="lead">Never run out of coffee again. A coffee subscription is the easiest way to enjoy fresh,
                delicious coffee delivered to your door.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded" width="500"
                src="https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80" />
        </div>
    </div>
</div><!-- /.container -->
<br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="mx-auto text-center">
            <h2 class="my-4">Same grocery store prices, but not the same old stale coffee. <br /> Never run out of fresh
                coffee
                again.</h2>
            <a href="/shop" class="btn btn-primary">GET STARTED</a>
        </div>
    </div>
</div>

<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h4 class="featurette-heading  my-4">Start your day right</h4>
            <blockquote class="blockquote">
                <p class="mb-0">But not only does it result in "superior coffee". according to Galligan, it forces him
                    to
                    focus intensely on one thing for a moment. That thoughtfulness, in theory, translates to the rest of
                    his day. If he can train his mind to focus on coffee, once he sits down to work he will better
                    concentrate...
                </p>
            </blockquote>
            <footer class="blockquote-footer">Matt Galligan in <cite
                    title="The Creative Benefits Of An Intense Morning Coffee Routine">The Creative Benefits Of An
                    Intense Morning Coffee Routine</cite>
            </footer>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto rounded" width="500" src="images/pouring-coffee.jpg" />
        </div>
    </div>
</div>